<div class="app-container">
  <mat-toolbar color="primary" class="app-header-toolbar">
    <button mat-icon-button (click)="sideNavToggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">Learn RxJS</h1>
  </mat-toolbar>

  <mat-sidenav-container class="app-sidenav-container">
    <mat-sidenav #sidenav [mode]="'side'" [opened]="true">
      <side-nav-items [sideNavItems]="sideNavItems"></side-nav-items>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>

